.site-about {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start;
    margin-top: 30px;
}

.about-image {
    flex: 1 1 300px;
    max-width: 400px;
    
    background-color: #fff; 
    border-radius: 5px; 
    padding: 10px; 
}

.about-image img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    
}

.about-content {
    flex: 2 1 500px;
    font-size: 16px;
    font-weight: 400;
    color: #212121;

    background-color: #fff; 
    border-radius: 5px; 
    padding: 20px; 

}

@media (max-width: 991px) {
    .about-image,
    .about-content {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

