@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main > .container {
    padding: 70px 15px 20px;
}

body {
    min-width: 320px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    
    background-color: #f5f5f5 !important;
    color:  #212121 !important;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* хедер */
.my-header {
    background-color: #FDD835 !important; 
    box-shadow: 0 4px 10px rgba(0,0,0,.25);  
}

.navbar-nav { 
    margin-left: auto; 
    display: flex; 
    gap: 20px; 
}

/* пункти меню */
.navbar-nav > li > a {
    color: #212121 !important;
    font-weight: 600;
    font-size: 17px;
    padding: 8px 15px;
    transition: opacity 0.3s ease;
}

/* Ховер */
.navbar-nav > li > a:hover {
    opacity: 0.8;
    color: #212121 !important;
    text-decoration: none;
}

/* бургер */
.navbar-toggler {
    border: 1px solid #212121 !important; 
    box-shadow: none !important;         
}
.navbar-toggler:focus {
    box-shadow: none !important;
}

/* взято з відкритих джерел */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(33,33,33,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}


/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-group {
    margin-bottom: 1rem;
}

.card-form {
    width: 100%; 
    max-width: 500px; 
    background: #fff;
    margin: 0 auto;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
	border: 1px solid #dee2e6;
    
}

/* Стилізація власна  */
.form-title {
    color: #212121 !important;

    text-align: center;
	padding-top: 10px;
	font-size: 20px;     
    font-weight: 500; 
    text-transform: uppercase;
}

/* Стилізація власна - кнопки btn-success */
.btn-success {
    width: 100%;
	height: 42px;
	border-radius: 5px;
	font-size: 17px;
	font-weight: 500;
	background-color: #FDD835 !important;
    color: #212121 !important;
    border: 1px solid #dee2e6 !important;
    transition: all 0.3s;
}

.btn-success:hover {
    background-color: #FFEB3B !important;
    color: #212121 !important;
    opacity: 0.8;
}

.btn-success:active{
    color: #212121 !important;
    background-color: #FFEB3B !important;
    border: #FFEB3B !important;
}

.has-error .help-block {
    font-size: 12px; 
	font-weight: 600; 
	color: #ee6e73 !important; 
	text-align: left; 
	margin: 0px; 
	padding: 0px; 
	margin-top: 2px; 
}

/* для написів у авторизації та реєстрації */
.card-form label {
    font-size: 16px;
    font-weight: 600;
    color: #212121 !important;
    display: block;
}


/* для текстових полів */
.card-form input[type="text"],
.card-form input[type="email"],
.card-form input[type="password"] {
    font-size: 15px;
    font-weight: 400;
    color: #212121 !important;
    border-color: #dee2e6 !important;
    height: 38px;
    border-radius: 5px;
}

/* для чекбокса */
.card-form .form-check-input {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    cursor: pointer;

    border-radius: 3px !important;
    border-color: #dee2e6 !important;
    background-color: #dee2e6 !important;
}

.card-form .form-check-input:focus {
	box-shadow: none !important;
}

.card-form .form-check-input:checked {
    background-color: #FFEB3B !important;
    border-color: #FFEB3B !important;
}

/* заголовок сторінки */
.page-title {

    font-size: 30px;    
    color: #212121 !important;       
    font-weight: 600;      
    margin-bottom: 10px;  

}

@media (max-width: 991px) {
  .breadcrumb {
    margin-top: 70px !important;
  }
}

@media (max-width: 768px) {
  .breadcrumb {
    margin-top: 20px !important;
  }
}

/* Слайдер */
#carousel {
    max-height: 300px; 
    overflow: hidden;
    border-radius: 5px; 
}

#carousel .carousel-item img {
    height: 300px;       
    object-fit: cover;  
}

/* для блочків 1*/
.items .item {
    min-height: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;

    background-color: #fff !important;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    transition: transform 0.3s, box-shadow 0.3s;

    cursor: default;
}

/* для блочків 2*/
.items .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.3);
}

/* для блочків 3*/
.items .item i {
    font-size: 40px;
    color: #FDD835; 
    margin-bottom: 10px;
}

/* Welcome-блок */
.welcome-block h2 {
    font-weight: 600;
    color: #212121 !important;
    cursor: default;
}

.welcome-block p {
    font-size: 18px;
    font-weight: 400;
    color: #212121 !important;
    cursor: default;
}

/* для картки */
.items .item h5 {
    font-weight: 600;
    color: #212121;
    margin-bottom: 10px;
}

.items .item p {
    font-size: 16px;
    font-weight: 400;
    color: #212121;
}
